<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<link rel="shortcut icon" href="/icons/Icon-48.png" type="image/png" />
<meta name="theme-color" content="#ffffff">
<meta name="HandheldFriendly" content="True" />

<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Tamil image">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
<meta name="apple-mobile-web-app-title" content="Tamil image">

<link rel="apple-touch-icon" sizes="48x48" href="/icons/Icon-48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/Icon-72.png">
<link rel="apple-touch-icon" sizes="96x96" href="/icons/Icon-96.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/Icon-144.png">
<link rel="apple-touch-icon" sizes="192x192" href="/icons/Icon-192.png">
<link rel="apple-touch-icon" sizes="256x256" href="/icons/Icon-256.png">
<link rel="apple-touch-icon" sizes="512x512" href="/icons/Icon-512.png">

<title>{{post.name}}</title>
<meta name="description" content="{{post.description}}" />
<link rel="canonical" href="{{post.seo_url}}" />

<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet" />

<link rel="manifest" href="/manifest.json">

</head>
<body>

<div class="container content">
<div class="columns is-centered">
<div class="column is-half">
<div class="card-content content">
<P>
<img src="data:image/jpeg;base64,{{post.base}}" class="img-fluid mx-auto d-block" alt="Happy Diwali 2021" width="650" height="650" loading="lazy" />
</P>
<p>
<a onclick="BacktoHome();" href="data:image/jpeg;base64,{{post.base}}" class="button pwa-button is-warning has-text-dark" download="{{post.title}}.jpeg">🔽 Download image</a>
</p>
<hr>
<p class="has-text-light">
we ❤ Open Source - <a target="_blank" rel="nofollow noreferrer noopener" href="https://github.com/mskian/kavithai-image-maker" title="kavithai image maker" >Source Code</a><br>
This Project Was Developed and Maintained by the Team tamilsms.blog<br>
it's Fully Free to use - Zero Ads and Zero Promotions.
</p>
<hr>
</div>
</div>
</div>
</div>

<script>
function BacktoHome() {
    setTimeout(() => {
        window.close();
    }, 3000)
}

//if (window.history.replaceState) {
//    window.history.replaceState(null, null, window.location.href);
//}

document.addEventListener('DOMContentLoaded', init, false);
function init() {
    if ('serviceWorker' in navigator && navigator.onLine) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js')
                .then(function(registration) {
                    console.log('PWA service worker ready with Offline Page');
                    registration.update();
                })
                .catch(function(error) {
                    console.log('Registration failed with ' + error);
                });
        });
    }
}
</script>

</body>
</html>