<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<link rel="shortcut icon" href="/icons/Icon-48.png" type="image/png" />
<meta name="theme-color" content="#ffffff">
<meta name="HandheldFriendly" content="True" />

<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Tamil image">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
<meta name="apple-mobile-web-app-title" content="Tamil image">

<link rel="apple-touch-icon" sizes="48x48" href="/icons/Icon-48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/Icon-72.png">
<link rel="apple-touch-icon" sizes="96x96" href="/icons/Icon-96.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/Icon-144.png">
<link rel="apple-touch-icon" sizes="192x192" href="/icons/Icon-192.png">
<link rel="apple-touch-icon" sizes="256x256" href="/icons/Icon-256.png">
<link rel="apple-touch-icon" sizes="512x512" href="/icons/Icon-512.png">

<title>{{post.title}}</title>
<meta name="description" content="{{post.description}}" />
<link rel="canonical" href="{{post.seo_url}}" />

<meta property="og:site_name" content="{{post.title}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:description" content="{{post.description}}" />
<meta property="og:url" content="{{post.seo_url}}" />
<meta property="og:image" content="{{ post.og_image }}" />
<meta property="og:image:alt" content="{{post.title}}" />
<meta property="article:publisher" content="{{ post.facebook }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{post.title}}" />
<meta name="twitter:description" content="{{post.description}}" />
<meta name="twitter:url" content="{{post.seo_url}}" />
<meta name="twitter:image" content="{{ post.og_image }}" />
<meta name="twitter:site" content="{{ post.twitter }}" />
<meta name="twitter:creator" content="{{ post.twitteruser }}" />
<meta name="twitter:image:alt" content="{{post.title}}">
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet" />

<script type="application/ld+json">
    {
    	"@context": "https://schema.org",
    	"@type": "WebSite",
    	"publisher": {
    		"@type": "Organization",
    		"name": "{{post.title}}",
    		"url": "{{post.seo_url}}",
    		"logo": {
    			"@type": "ImageObject",
    			"url": "{{ post.logo }}",
    			"width": 72,
    			"height": 72
    		}
    	},
    	"url": "{{post.seo_url}}",
    	"image": {
    		"@type": "ImageObject",
    		"url": "{{ post.og_image }}",
    		"width": 1200,
    		"height": 630
    	},
    	"mainEntityOfPage": {
    		"@type": "WebPage",
    		"@id": "{{post.seo_url}}"
    	},
    	"description": "{{post.description}}"
    }
</script>

<link rel="manifest" href="/manifest.json">
<link rel="sitemap" type="application/xml" href="/sitemap.xml"/>

<link rel="preconnect" href="https://{{post.data_domain}}">
<script async defer src="{{post.src_data}}" data-website-id="{{post.website_id}}" data-domains="{{post.data_domain}}"></script>

</head>
<body>

<section class="section">
<div class="container content">
<div class="columns is-centered">
<div class="column is-half">
<div class="card-content content user-form login">
<h1 class="title has-text-centered">{{post.title}}</h1>
<blockquote class="notification is-link">
<small>Just Add Your Kavithai and Click <b>Create image</b> it will Start Processing and Generate image with your Kavithai.</small>
</blockquote>

<form target="_blank" action="/kavithai" method="post" role="form" enctype="application/x-www-form-urlencoded">

<p class="field">
<div class="control">
<label class="label has-text-centered has-text-weight-medium" for="Description">Add kavithai (Maxmium Text Length Support 235)</label>
<textarea class="textarea textbox is-info column" type="text" rows="12" name="kavithai" id="kavithai" autocomplete="off" maxlength="235" onkeyup="countChars(this);" required></textarea>
<br>
<p id="charNum">235 characters remaining</p>
</div>
</p>
<input type="hidden" name="_csrf" value="{{ post.csrfToken }}">
<div class="control">
<button onclick="store()" class="button is-success sign-button">▶ Create image</button>
</div>

</form>
<br>
<blockquote class="notification is-danger">
<div class="tags has-addons is-horizontal-center">
<span class="tag is-dark">ZERO</span>
<span class="tag is-link">Logs</span>
</div>
<small>Kavithai you Enter in our Website won't be stored in our Server or Database even we won't save the image that generated</small>
</blockquote>
</div>
<br>
<hr>
<p class="has-text-light">
we ❤ Open Source - <a target="_blank" rel="nofollow noreferrer noopener" href="https://github.com/mskian/kavithai-image-maker" title="kavithai image maker" >Source Code</a><br>
This Project Was Developed and Maintained by the Team tamilsms.blog<br>
it's Fully Free to use - Zero Ads and Zero Promotions.
</p>
<hr>
</div>
</div>
</div>
</section>

<script src="/js/app.js"></script>

</body>
</html>